.App {
  font-family: Lato, 'sans-serif';
}

#heading {
  margin: 35px 0px 15px 35px;
  font-weight: 600;
}

.nav-link {
  color: #bebebe;
  margin-left: 25px;
}

.active {
  color: #557D8C;
  font-weight: 600;
}

.col-l {
  padding-right: 50px;
}

.col-r {
  padding-left: 50px;
}

.my-card {
  border: none;
  border-bottom: 1px solid #E3E5E1;
  border-radius: 0px;
}

.my-card h5 {
  font-weight: 700;
}

.my-card  p {
  font-weight: 400;
}